@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    header {
      @apply sticky top-0 z-40 flex w-full flex-row items-center my-2 pb-2;
      justify-content: space-around;
      border-bottom: solid 1px #356069;
      width: 100%;
      @media screen and (min-width : 600px) {
        width: 95%;
        @apply mb-4;
      }
      a {
        text-decoration: none;
        color: #356069;
      }
    }
    button[type="submit"], button[type="button"] {
      background-color: #DDEFF0;
      &:hover {
        background-color: #356069;
        color: #DDEFF0;
      }
    }
    form {
      @apply flex flex-col gap-4;
    }
    footer {
      border-top: solid 1px #356069;
      display: flex;
      justify-content: space-around;
      width: 100%;
      @media screen and (min-width : 600px) {
        width: 95%;
      }
    }
  }
}

header .img-container {
  @media screen and (min-width : 600px) {
    width: 90px;
  }
}
